<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <!-- buttons for filters -->
        <form action="{{url_for('filter_nutrition')}}" method="post">
            <label for="nutrition">Type of Nutrition: </label>
            <input type="text" id="nutrition" name="nutrition" value="calories">
            <label for="comparison"></label>
            <input type="text" id="comparison" name="comparison" value=">=">
            <label for="range"></label>
            <input type="text" id="range" name="range">
            <input type="submit" value="Filter">
          </form> 
        <form action="{{url_for('filter_allergy')}}" method="post">
            <label for="allergy">Allergen: </label>
            <input type="text" id="allergy" name="allergy">
            <input type="submit" value="Filter">
        </form> 
        <!-- filter result -->
        <!-- <p>{{items}}</p> -->
        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>ingredients</th>
                <th>Prep time(mins)</th>
            </tr>
           
            {% for i in range(items|length) %}
            <tr>
                <td>{{i}}</td>
                <td>{{items[i]["name"]}}</td>
                <td>{{items[i]["ingredients"]}}</td>
                <td>{{items[i]["minutes"]}}</td>
            </tr>
            {% endfor %}
            
        </table>
       
    </body>
</html>